html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-center {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}